body{
  background-color:rgb(228, 222, 222);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listPost{
  
}

.listElements{
  height: 20vh;
  width: 189vh;
  margin: 0vh -2vh;
  background-color: white;
  list-style-type: none;
  display: flex;
  align-items: center;

}

hr{
  margin: 17vh 0vh 0vh 0vh;
}


.rhsBlock{
  height: 12vh;
  width: 170vh;
  margin: -11vh 0vh 0vh 29vh;
  position:absolute;
}

.title{
  color: #c25b4a;
}

a{
  text-decoration:none
}

p{
}

.userName{
  font-weight: bold;
  display: inline;
}

.footer{
  word-spacing: 30px;
  display: inline;
}

.commentSection{
  display: inline;
  color: #c25b4a;
  font-weight: bold;
}

.upVote{

margin: -5vh 0vh 0vh 0vh;

}


.downVote{
  margin: 5vh 0vh 0vh 0vh;



}

